<%- include('includes/header') %>
<div class="col-md-12">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">O'zgartirish</h3>
      </div>
    <form action="/edit-order/<%= product._id %>" method="POST">
        <div class="card-body">
        <div class="form-group">
            <label>Buyurtmachi</label>
            <input type="text" name="name" class="form-control" value="<%= product.firstname %>" disabled>
        </div>
        <div class="form-group">
            <label>Telefon</label>
            <input type="text" name="description" class="form-control" value="<%= product.phone %>" disabled>
        </div>
        <div class="form-group">
            <label>Buyurtma</label>
            <textarea type="text" name="description" class="form-control" disabled><%= product.order %></textarea>
        </div>
        <div class="form-group">
            <label>Holati</label><br />
            <select id="status" name="status" class="form-control">
                <% for(var i = 1; i <= 4; i++ ) {
                    var myoption
                    var item=""
                    if(product.status === i) {
                        myoption = "selected"
                    } else { myoption = "" }
                    if(i === 4) {
                        item = "Buyurtma yetkazilmadi" 
                    } else if ( i === 1) {
                        item = "Buyurtma buyurtmachilarga berilgan"
                    } else if(i === 3){
                        item = "Buyurtma kelib tushgan"
                    } else if ( i === 2) {
                        item = "Buyurtma yetkazildi"
                    } else { itemname = "Xatolik" } %>
                    <option value="<%= i %>" <%= myoption %> ><%= item %></option>
                <% } %>
              </select>
        </div>
        <button type="submit" class="btn btn-success">Saqlash</button>
    </div>
    </form>
</div>
</div>


<%- include('includes/footer') %>