<%- include('includes/header') %>

<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Buyurtma</h3>
      <div class="card-tools">
        <ul class="pagination pagination-sm m-0 float-right">
          <li class="page-item"><a class="page-link" href="/order/"><i class="fa fa-th nav_icon"></i></a></li>
          <li class="page-item"><a class="page-link" href="/order/active"><i class="fa fa-clock nav_icon"></i></a></li>
          <li class="page-item"><a class="page-link" href="/order/ondelivery"><i class="fa fa-car nav_icon"></i></a></li>
          <li class="page-item"><a class="page-link" href="/order/finished"><i class="fa fa-check-circle nav_icon"></i></a></li>
          <li class="page-item"><a class="page-link" href="/order/undone"><i class="fa fa-trash-alt nav_icon"></i></a></li>
          <li class="page-item"><a class="page-link" href="<%= channel %>" target="_black"><i class="fa fa-location-arrow nav_icon"></i></a></li>
          
        </ul>
      </div>
    </div>
    <div class="card-body p-0">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th style="width: 10px">#</th>
            <th>Kim</th>
            <th style="width: 40px">Vaqt</th>
            <th>Holati</th>
          </tr>
        </thead>
        <tbody>
          <% html.map((users, i) => { %>
          <tr onclick="location.href='/order/<%= users._id %>';" class="mycursor">
            <td><%= i+1 %>.</td>
            <td><a href="/order/<%= users._id %>"><%= users.firstname %></a></td>
            <td><%= users.orderdate %></td>
            <td>
              <% if(users.status === 1) { 
                %> <i class="fa fa-car nav_icon"></i> <% 
              } else if (users.status === 3) { 
                %> <i class="fa fa-clock nav_icon"></i> <% } else if (users.status === 2) { 
              %> <i class="fa fa-check-circle nav_icon"></i> <% } else if (users.status === 0) { 
                %> <i class="fa fa-trash-alt nav_icon"></i> <% } %>
              </td>
          </tr>
          <%  }) %>
        </tbody>
      </table>
    </div>

  </div>
</div>

<%- include('includes/footer') %>