<%- include('includes/header') %>
      
<div class="col-md-12">
  <div class="card card-default">
    <div class="card-header">  <a href="/orders" class="btn-default btn">Buyurtmalar</a></div>
    <div class="card-body">
      <b>Kim:</b> <%= cat.firstname %><br />
      <b>Telefon:</b> <%= cat.phone %><br />
      <b>Izoh:</b> <%= cat.comment %><br />
      <b>Buyurtma:</b> <%= cat.order %><br />
      <b>Umumiy:</b> <%= cat.total.toLocaleString() %> so'm<br />
      <b>Registratsiya payti:</b> <%= time %><br />
      <b>Manzil:</b> <%= cat.location %><br />
      <b>Buyurtma holati:</b> <%if (cat.status === 1) { %>
        <i class="fa fa-car nav_icon"></i> Buyurtma buyurtmachilarga berilgan
        <% } else if(cat.status === 2) { %>
          <i class="fa fa-check-circle nav_icon"></i> Buyurtma yetkazildi
        <% }else if(cat.status === 3) { %>
          <i class="fa fa-clock nav_icon"></i> Buyurtma kelib tushgan
          <% } else if(cat.status === 4) { %>
            <i class="fa fa-trash-alt nav_icon"></i> Buyurtma yetkazilmadi
        
        <% } %>
        <br />
        <a href="/edit-order/<%= cat._id %>" class="btn-primary btn">O'zgartirish</a>
    </div>
  </div>
</div>

<%- include('includes/footer') %>