<%- include('includes/header') %>
      
<div class="col-md-12">
  <div class="card card-default">
    <div class="card-header">  <a href="/order" class="btn-default btn">Buyurtmalar</a></div>
    <div class="card-body">
      <b>Kim:</b> <%= cat.firstname %><br />
      <b>Telefon:</b> <%= cat.phone %><br />
      <b>To'lov turi:</b> <%= cat.money %><br />
      <b>Buyurtma:</b> <%= cat.order %><br />
      <b>Registratsiya payti:</b> <%= time %><br />
      <b>Yetkazib berish vaqti:</b> <%= cat.orderdate %>, <%= cat.ordertime %><br />
      <b>Manzil:</b> <%= cat.location %><br />
    </div>
  </div>
</div>

<%- include('includes/footer') %>